/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/

@media all and (max-width: 800px) {
	.enyo-panels-fit-narrow > * {
		min-width: 320px !important;
	}
}

@media all and (max-width: 760px) {
	.enyo-panels-fit-narrow > * {
		min-width: 100% !important;
		max-width: 100% !important;
	}
}

@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Courgette.eot');
  src: local('Courgette'), local('Courgette'), url('../assets/fonts/Courgette.ttf') format('truetype');
}

.background {
	background-color: #000;
}

.splashscreen {
	top: 38%;
	margin-top: 90px;
	min-height: 200px;
	min-width: 200px;
	background: #000 url(../assets/crossplatform/icon_200_rot.png) center no-repeat;
	-webkit-animation: rotation 4s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

#app {

}

.app > * {
	box-shadow: -4px -4px 4px rgba(0,0,0,0.3);
	background: #555;
	width: 320px;
}

.left {
	color: white;
}

.item {
	position: relative;
	border-bottom: 1px solid #0E0E0E;
	padding: 16px 12px;
	background-color: #333333;
}

.item.onyx-selected {
	background-color: #226B9A;
}

.panels {
	min-height: 320px;
	min-width: 320px;
}

.panels > * {
	border: 2px solid #333;
	font-size: 5em;
	text-align: center;
}

.wide > * {
	min-width: 50%;
}

.collapsible > * {
	min-width: 250px;
}

.onyx-spinner.onyx-dark {
  background-color: #333;
}

.onyx-sample-popup {
	font-size: 30px; text-align: center;
}

.onyx-scrim.onyx-scrim-transparent {
	background: transparent;
	background: rgba(0,0,0,0.4);
}

/* food list */

#app_foodlist {
	background: url(../assets/bg.png);
}

#app_foodlist_list .food_image img {
	width: 70px;
	height: 70px;
}

#app_foodlist_list .description_box {
	padding: 10px;
	width: 250px;
}

.description_box .food_name {
	font-weight: bolder;
}

.description_box .food_description {
}

.description_box .food_fee {
	font-family: monospace;
	font-size: smaller;
}

/* food panel */
div#app_food {
	background: url(../assets/bgwood.jpg);
	z-index: 1;
}

/* normal size*/
#app_food_foodPictureWrapper {
	z-index: 2;
	padding-top: 45px;
	padding-bottom: 45px;
	margin-top: 45px;
	margin-bottom: 45px;
	height: 285px;
	background: url(../assets/tablet.png) center center no-repeat;
	text-align: center;
}

#app_food_foodPictureWrapper #app_food_foodPicture #app_food_foodPicture_pic {
	z-index: 4;
	width: 190px; /* Breite des Elements */
	height: 190px; /* Höhe des Elements */
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

#app_food_foodPictureWrapper #app_food_foodPicture #app_food_foodPicture_pic:hover {
	-moz-transform: scale(2);
	-webkit-transform: scale(2);
	-o-transform: scale(2);
	transform: scale(2);
	-ms-transform: scale(2);
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=2, M12=-0, M21=0, M22=2);
}

#app_food_foodPictureWrapper #app_food_foodPicture .onyx-spinner {
	z-index: 4;
	position: relative;
	top: 70px;
}

/* small size */
.small_screen#app_food_foodPictureWrapper {
	z-index: 2;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 170px;
	background: url(../assets/tablet_small.png) center center no-repeat;
	text-align: center;
}

.small_screen#app_food_foodPictureWrapper #app_food_foodPicture #app_food_foodPicture_pic {
	z-index: 4;
	width: 130px; /* Breite des Elements */
   	height: 130px; /* Höhe des Elements */
}

.small_screen#app_food_foodPictureWrapper #app_food_foodPicture .onyx-spinner {
	z-index: 4;
	position: relative;
	top: 35px;
}

div#app_food_foodname {
	font: normal normal normal 16px/18px Courgette, Purisa, Helvetica, Arial, sans-serif;
	color: #fff;
	position: relative;
	top: 15px;
	width: 80%;
	max-width: 370px;
	min-height: 30px;
	margin: 5px auto;
	padding: 15px;
	background: #2d3127;
	background:	-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(45, 49, 39, 1)), to(rgba(58, 63, 51, 1)));
	background: -moz-linear-gradient(top,  rgba(45, 49, 39, 1), rgba(58, 63, 51, 1)); /* for firefox 3.6+ */
	-webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    border-width: 14px 16px;
    border-style: solid;
    -moz-border-image: url(../assets/borderimage.png) 14 16 stretch;
    -webkit-border-image: url(../assets/borderimage.png) 14 16 stretch;
    -o-border-image: url(../assets/borderimage.png) 14 16 stretch;
    border-image: url(../assets/borderimage.png) 14 16 stretch;
    z-index: 1;
}
div#app_food_foodname div#app_food_fooddate {
	font-family: monospace;
	font-size: smaller;
}
div#app_food_foodname div#app_food_foodtitle {
	font: normal normal normal 24px/24px Courgette, Purisa, Helvetica, Arial, sans-serif;
}

div#app_food_foodname div#app_food_ingredientsBox img {
	width: 20px;
	height: 20px;
}

div#app_food_additionalContent {
	margin-left: auto;
    margin-right: auto;
    width: 80%;
	max-width: 650px;
	min-height: 30px;
}

div#app_food_foodFee {
	font: normal normal normal 16px/18px Courgette, Purisa, Helvetica, Arial, sans-serif;
	color: #fff;
	/*position: absolute;*/
	/*left: 28%;*/
	width: 210px;
	min-height: 30px;
	margin: 5px auto;
	padding: 15px;
	background: #2d3127;
	background:	-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(45, 49, 39, 1)), to(rgba(58, 63, 51, 1)));
	background: -moz-linear-gradient(top,  rgba(45, 49, 39, 1), rgba(58, 63, 51, 1)); /* for firefox 3.6+ */
	-webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -ms-transform: rotate(-7deg);
    transform: rotate(-7deg);
    border-width: 14px 16px;
    border-style: solid;
    -moz-border-image: url(../assets/borderimage.png) 14 16 stretch;
    -webkit-border-image: url(../assets/borderimage.png) 14 16 stretch;
    -o-border-image: url(../assets/borderimage.png) 14 16 stretch;
    border-image: url(../assets/borderimage.png) 14 16 stretch;
    z-index: 2;
    float:left;
    display: inline-block;
}

div#app_food_foodFee div#app_food_feeTitle {
	font: normal normal normal 24px/24px Courgette, Purisa, Helvetica, Arial, sans-serif;
}

div#app_food_additive {
	font: normal normal normal 12px/14px Courgette, Purisa, Helvetica, Arial, sans-serif;
	color: #fff;
	/*position: absolute;*/
	/*left: 50%;*/
	width: 310px;
	min-height: 30px;
	margin: 5px auto;
	padding: 15px;
	background: #2d3127;
	background:	-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(45, 49, 39, 1)), to(rgba(58, 63, 51, 1)));
	background: -moz-linear-gradient(top,  rgba(45, 49, 39, 1), rgba(58, 63, 51, 1)); /* for firefox 3.6+ */
	-webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    border-width: 14px 16px;
    border-style: solid;
    -moz-border-image: url(../assets/borderimage.png) 14 16 stretch;
    -webkit-border-image: url(../assets/borderimage.png) 14 16 stretch;
    -o-border-image: url(../assets/borderimage.png) 14 16 stretch;
    border-image: url(../assets/borderimage.png) 14 16 stretch;
    z-index: 1;
    float:left;
    display: inline-block;
}

div#app_food_additive div#app_food_additiveTitle {
	font: normal normal normal 24px/24px Courgette, Purisa, Helvetica, Arial, sans-serif;
}

/* settings panel */
div.settings-panel {
	background: url(../assets/bgwood.jpg);
	z-index: 1;
}
div.settings-panel a {
	font-family: monospace;
	text-align: left;
	vertical-align: middle;
}

div.settings-panel h1 {
	font: normal normal normal 24px/24px Courgette, Purisa, Helvetica, Arial, sans-serif;
	text-align: left;
	vertical-align: middle;
}

div.settings-panel .popup_app_groupboxHeader {
	font: normal normal normal 16px/18px Courgette, Purisa, Helvetica, Arial, sans-serif;
	text-align: left;
	color: #DDD;
	background: #101010 url(../lib/onyx/images/gradient.png) repeat-x 0 10px;
	border: none;
}

.settings_image {
	width: 30px !important;
	height: 30px !important;
	text-align: left;
	vertical-align: middle;
	margin-right: 10px;
}

div.settings-panel-content {
	font: normal normal normal 16px/18px Courgette, Purisa, Helvetica, Arial, sans-serif;
	position: relative;
	top: 20px;
	width: 80%;
	max-width: 340px;
	min-height: 30px;
	margin: 5px auto;
	padding: 15px;
	background: #f1f3a2;
	background:	-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(247,247,210,1)), to(rgba(240,242,155,1)));
	background: -moz-linear-gradient(top,  rgba(247,247,210,1), rgba(240,242,155,1)); /* for firefox 3.6+ */
	-webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
    border-width:0px 1px 1px 0px;
    border-color: #000;
    border-style:solid;
    z-index: 2;
}

/* canteen panel */
div.canteen-panel {
	background: url(../assets/bgwood.jpg);
	z-index: 1;
}
div.canteen-panel a {
	font-family: monospace;
	text-align: left;
	vertical-align: middle;
}

div.canteen-panel h1 {
	font: normal normal normal 24px/24px Courgette, Purisa, Helvetica, Arial, sans-serif;
	text-align: left;
	vertical-align: middle;
}

div#app_canteenPanel_canteenDescription {
	font: normal normal normal 16px/18px Courgette, Purisa, Helvetica, Arial, sans-serif;
	color: #fff;
	position: relative;
	top: 15px;
	width: 80%;
	max-width: 370px;
	min-height: 30px;
	margin: 5px auto;
	padding: 15px;
	background: #2d3127;
	background:	-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(45, 49, 39, 1)), to(rgba(58, 63, 51, 1)));
	background: -moz-linear-gradient(top,  rgba(45, 49, 39, 1), rgba(58, 63, 51, 1)); /* for firefox 3.6+ */
	-webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    border-width: 14px 16px;
    border-style: solid;
    -moz-border-image: url(../assets/borderimage.png) 14 16 stretch;
    -webkit-border-image: url(../assets/borderimage.png) 14 16 stretch;
    -o-border-image: url(../assets/borderimage.png) 14 16 stretch;
    border-image: url(../assets/borderimage.png) 14 16 stretch;
    z-index: 1;
}

div#app_canteenPanel_canteenDescription div#app_canteenPanel_canteenName {
	font: normal normal normal 24px/24px Courgette, Purisa, Helvetica, Arial, sans-serif;
}

/* buttons */
#app_buttonBack {
	float:left;
}

#app_buttonPreviousFood {
	padding: 5px;
	float:right;
}

#app_buttonNextFood {
	padding: 5px;
	float:right;
}
